body {
  margin: 0;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background: e7ecf2;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}
img {
  width: 250px;
}
.menu {
  text-decoration: none;
  width: 200px;
  justify-content: space-around;
}
a {
  text-decoration: none;
}
.menu a {
  color: #ffff;
  background: #0e8bb8 linear-gradient(#0a5e7d, #0e8bb8);
  padding: 10px;
}
.activelink {
  color: lightblue;
}
.cover {
  display: flex;
  justify-content: space-between;
  width: 800px;
  text-align: left;
}
.movieImg {
  margin-right: 15px;
}
.aditianalUl {
  flex-wrap: wrap;
  width: 60px;
}
.goBackBtn {
  margin-bottom: 15px;
}
